@use "variables" as *;
// make toRem function use toRem function todo
.row{
  margin: 0 ;
}
.bike-element{
  
  height: 100%;
  width: 100%;
  .card-body{
    color: $text;
    background-color: $background;
    h1{
      font:{
        family: "Contrail One", serif;
        weight: 400;
        size: 1.2rem;
      }
    }
    p{
      font:{
        family: Calibri;
        weight: 200;
        size: 0.8rem;
      }
    }
    .price{
      color: $secondary;
    }
    .federal-state{
      
    }
  }
  

}
