@use "variables" as *;
// make toRem function use toRem function todo
.bike-element{
  color: $text;
  background-color: $primary;
  border-radius: 49px;
  //max-width: 700px;
  min-height: 260px;
  .img-holder{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 33px;// border - padding
  }
  .federal-state{
    font:{
      weight: 100;
      style: italic;
      family: calibri;
      size: 1.3rem;
    }
  }
  h1{
    font:{
      weight: 600;
      size: 1.90rem;
    }
  }
  .price{
    color: $secondary;
    font:{
      weight: bold;
      size: 2rem;
    }
  }

}
