$background: #2C2C2C;
$primary: #3A3A3A;
$secondary:#FF4500;
$tertiary: #FFD700;
$text: #EAEAEA;
$hovercolor: #FF5733;
$insurancecolor: #959595;
$bordercolor: #D9D9D9;


//Footer
$footer-bg: #1A1A1A;

//FilterComponent
$btn-bg: #6C757D;

//BikeComponent
$bike-bg: #2f2f2f;

//BikeView 
$pagination-text: #6C757D;
$pagination-border: #E9ECEF;