@use "variables" as *;
.section-header{
  .navbar{

    background-color: $header-bg;
  }

  .navbar-brand{
    * {
      color: $header-logo;
      line-height: 1.2;
      font:{
        family: "Contrail One", serif;
        weight: 400;
        style: normal;
        size: 1.5rem;
      }
    }
    & :hover{
      //color: ; find good color todo
    }
  }
  
  .nav-link {
    color: $header-text;
    font-size: 1.2rem;
    margin: 0 20px;
    font:{
      family: "Contrail One", serif;
      weight: 400;
      style: normal;
    }
  }
  
  .nav-item:last-child .nav-link svg {
    width: 35px;
    height: 35px;
  }
}