.section-header{
  background-color: #2C2C2C;
 
  
  font:{
    family: Contrail One;
  }
  .navbar-brand {
    color: #FF4500;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
    
  }
  
  .nav-link {
    color: #D9D9D9!important;
    font-size: 1.2rem;
    margin: 0 20px;
    
  }
  
  .nav-item:last-child .nav-link svg {
    width: 35px;
    height: 35px;
  }
}