@use "variables" as *;

.accordion {
  .accordion-item {
    
    .accordion-header {
      margin: 0; // Kein zusätzlicher Abstand
      
      .btn {
        border: 1px solid #007bff; // Rahmenfarbe (primäre Farbe)
        border-radius: 0.375rem; // Abgerundete Ecken
        text-align: start; // Textausrichtung
        display: flex;
        font-weight: bold;
        background-color: $primary; 
        transition: background-color 0.3s, border-color 0.3s;

        &:hover {
          background-color: $hovercolor; // Hover-Farbe
        }

        &:focus,
        &:active {
          border-color: #0056b3; // Farbe bei Fokus/Aktiv
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .pricetag {
          color: $secondary; // Grüner Farbton für Preisschild
        }
      }
    }

    .accordion-collapse {
      &.show {
        .accordion-body {
          background-color: $primary; // Hintergrund für aktive Inhalte
          border: 1px solid #dee2e6; // Rahmenfarbe
          color: #6c757d; // Textfarbe
        }
      }
    }
  }
}



.productmain{
  background-color: $background !important;
  
  .productview{
    background-color: $background !important;
  }

  
  h3{
    color: $text;
  }
  .customtable {
    background-color: #3A3A3A !important; /* Force background color */
    color: #D9D9D9 !important; /* Force text color */
    border: 1px solid #D9D9D9 !important; /* Force table border color */

    th, td {
      border: 1px solid #D9D9D9 !important; /* Force cell borders */
    }

    th {
      text-align: center !important; /* Ensure text is centered in headers */
    }

    tr:hover {
      background-color: #5A5A5A !important; /* Darken row background on hover */
    }

    .table-bordered {
      border-collapse: collapse !important; /* Collapse borders to avoid extra spacing */
    }

    .table-bordered th, .table-bordered td {
      padding: 12px !important; /* Add padding to cells */
    }
    
  }

  .labels{
    color: $text;
  }
  .card-custom {
    background-color: $background !important; 
    
    color: $text; 

    border: 1px solid $bordercolor;

    .list-group-item {
      background-color: $insurancecolor; 
      color: $text;
      &:nth-child(even) {
        background-color: $primary;
      }
    }

    // Card Footer Customization
    .card-footer {
      background-color: #e9ecef; // Light gray
      color: #212529;           // Dark text
      text-align: center;       // Center-align footer content
      padding: 10px;
      font-size: 0.9rem;
    }
  }
  .rent{
    color: $text;
    background-color: $secondary !important;
  }
  .favorites{
    color: $background;
    background-color: #FFD700 !important;
  }

}
