@using Bike_Around_Worlds.Components.Pages
@inherits LayoutComponentBase

<div class="page m-0">
    <main>
        <div>
            <Header></Header>
            <AuthorizeView>
                <NotAuthorized>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout">Logout</a>
                </Authorized>
            </AuthorizeView>
            @Body
            
            <Footer></Footer>
        </div>
        
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>