@using Bike_Around_Worlds.Components.Pages
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <Header></Header>
            @Body
            <Footer></Footer>
            <a href="/Counter">counter</a>
        </div>
        
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>