@page "/favoritesView"
@using BAWLib
@using BAWLib.Classes
@using BAWLib.Entities
@using Bike_Around_Worlds.Components.Blazor_Components
@using Domain.Interfaces
@rendermode InteractiveServer

@inject IRepository<Favorite> FavoriteRepository
@inject IRepository<LeasingContract> LeasingContractRepository;
@inject IRepository<Motorbike> MotorbikeRepository;


<div class="row" style="background-color: #2c2c2c">
    <div class="col-lg-3 col-sm-12 col-md-12">
        <FilterComponent OnDataSend="ReceiveData"></FilterComponent>




    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="row g-5 mb-5">
            
            @foreach (var bike in _bikes)
            {
                <div class="col-lg-3">

                    
                    
                    
           
                    <BikeComponent ThisBike=@bike Icon="bi-star-fill" ImgOne="/Resources/Bikes/bike4.jpg"></BikeComponent>
                </div>
            }

        </div>
    </div>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>






@code {
    private List<Motorbike> _bikes = new();

    private List<Motorbike> _reverenceBikes = new();
    private List<LeasingContract> _leasingContracts = new();


    private Filter ReceivedData { get; set; } = new Filter();

    private void ReceiveData(Filter data)
    {
        ReceivedData = data;
        _bikes = FilterBikes(data);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _reverenceBikes = MotorbikeRepository.Read(bike => bike.IsFavorite);
        _leasingContracts = LeasingContractRepository.ReadAll();
        _bikes = _reverenceBikes;
    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #region Filtering

    

    private List<Motorbike> FilterBikes(Filter data)
    {
        List<Motorbike> returnBikes = new();

        if (data.Regions.Count!=0 && data.Brands.Count() ==0)
        {
            foreach (Motorbike bike in _reverenceBikes)
            {
                if (data.Regions.Contains(bike.Federal_State) && bike.CurrentLeasingRate <= data.Price && bike.Ps >= data.HorsePower)
                {
                    returnBikes.Add(bike);
                }
            }
        }
        if (data.Brands.Count!=0 && data.Regions.Count() ==0)
        {
            foreach (Motorbike bike in _reverenceBikes)
            {
                
                if (data.Brands.Contains(bike.Manufacturer)&& bike.CurrentLeasingRate <= data.Price && bike.Ps >= data.HorsePower)
                {
                    returnBikes.Add(bike);
                }
            }
        }
        if (data.Regions.Count==0 && data.Brands.Count==0)
        {
            foreach (Motorbike bike in _reverenceBikes)
            {
                if (bike.CurrentLeasingRate <= data.Price && bike.Ps >= data.HorsePower)
                {
                    returnBikes.Add(bike);
                }
            }
        }

        if (data.Regions.Count() != 0 && data.Brands.Count() != 0)
        {
            foreach (Motorbike bike in _reverenceBikes)
            {
                if (data.Brands.Contains(bike.Manufacturer) && data.Regions.Contains(bike.Federal_State)&& bike.CurrentLeasingRate <= data.Price && bike.Ps >= data.HorsePower)
                {
                    returnBikes.Add(bike);
                }
            }
        }

        
        
        foreach (LeasingContract leasingContract in _leasingContracts)
        {
            if (returnBikes.Contains(leasingContract.Motorbike))
            {
                if (DateOnly.FromDateTime(leasingContract.TO_DATE) > data.From)
                {
                    returnBikes.Remove(leasingContract.Motorbike);
                }
                if (DateOnly.FromDateTime(leasingContract.FROM_DATE) < data.To)
                {
                    returnBikes.Remove(leasingContract.Motorbike);
                }
            }
        }
        return returnBikes;
    }

    #endregion
    

}
