@page "/FindGroup"
@using BAWLib
@using Bike_Around_Worlds.Components.Blazor_Components
@using Domain.Interfaces
@rendermode InteractiveServer
@inject IRepository<Groups> GroupRepository

<PageTitle>Gruppen</PageTitle>

<section class="se-group">
    <div class="row">
        <div class="col-3">
            <GroupFilterComponent></GroupFilterComponent>
        </div>
        <div class="col-9">
            <div class="row">
                @foreach (var group in Groups)
                {
                    <div class="col-4">
                        <GroupComponent Group=group></GroupComponent>
                    </div>
                }
            </div>
        </div>
    </div>
</section>




@code {
    private List<Groups> Groups = new();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Groups = GroupRepository.ReadAll();
    }
}