@page "/groupDetailsView/{Group_ID:int}"
@inject IRepository<User> UserRepository;
@inject IRepository<Groups> GroupRepository;
@using BAWLib
@using Bike_Around_Worlds.Components.Blazor_Components
@using Domain.Interfaces
<section class="section-group-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="row">
                    <div class="group_name">
                        <h2> @CurrentGroup.Name</h2>
                        <h4># Österreich</h4>
                    </div>
                    <div class="join_button d-flex justify-content-end">
                        <button>Beitreten</button>
                    </div>
                   
                    <div class="col-lg-12 mb-5">
                        <h4>
                            Route:
                        </h4>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <div class="row">

                            <div class="col-lg-6 map-holder mb-5">

                            </div>
                            <div class="col-lg-6 mb-5 route">
                                <div>
                                    <input type="text" value="7000, Eisenstadt, Austria" id="start" disabled>
                                    <label for="start">start</label>
                                </div>
                                <div>
                                    <input type="text" value="7000, Eisenstadt, Austria" id="end" disabled>
                                    <label for="end">ende</label>
                                </div>
                                <div>
                                    <input type="text" value="@CurrentGroup.From_Date - @CurrentGroup.To_Date" id="date" disabled>
                                    <label for="date">from to</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 container description">
                <p> @CurrentGroup.Description</p>
            </div>
            
            <div class="col-lg-12 mb-5 members">
                <h5>
                    Mitglieder:
                </h5>
                <div class="row">
                    @foreach (User curentUser in Users!)
                    {
                        <div class="col-lg-6 col-12">
                            <UserComponent ThisUser=@curentUser></UserComponent>
                        </div>
                    }
                </div>
            </div>
           
        </div>
    </div>
</section>


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        //Users = UserRepository.Read(user => user.GroupID == Group_ID);
        CurrentGroup = GroupRepository.Read(Group_ID);
    }

    [Parameter] public int Group_ID { get; set; }
    private Groups? CurrentGroup { get; set; } = new();
    private List<User>? Users { get; set; } = new();
    public List<UserComponent>? UserComponents { get; set; }
}