@page "/"


<header>
    <div class="hero-section">
        <h3 class="display-4 fw-bold">Willkommen bei BAW Bike Across Worlds!</h3>
        <p class="lead">Miete ein Motorrad und entdecke die Welt mit Gleichgesinnten. Fahre in Gruppen oder erstelle deine eigene Tour!</p>
        <a href="/bikeView" class="btn btn-primary btn-lg btn-primary-custom">Motorrad Mieten</a>
    </div>
</header>

<section class="container">
    <div class="row text-center mt-5">
        <h2 class="col-12">So funktioniert's</h2>
    </div>

    <div class="features">
        <div class="feature-card">
            <img src="Resources/rent.jpg" alt="Motorrad Mieten">
            <h3>Motorrad Mieten</h3>
            <p>Miete dein Motorrad für den gewünschten Zeitraum inklusive Versicherung. Flexibilität und Sicherheit stehen bei uns an erster Stelle.</p>
        </div>

        <div class="feature-card">
            <img src="Resources/biker.jpg" alt="Gruppen Touren">
            <h3>Finde eine Gruppe</h3>
            <p>Verbinde dich mit anderen Abenteurern und finde die perfekte Gruppe für deine Tour. Gemeinsam macht das Fahren noch mehr Spaß!</p>
        </div>

        <div class="feature-card">
            <img src="Resources/route.jpg" alt="Gruppe Erstellen">
            <div class="mx-auto">
                <h3>Erstelle eine Gruppe</h3>
                <p>Du hast deine eigene Idee? Erstelle eine Gruppe und lade andere Motorradbegeisterte ein, sich dir anzuschließen.</p>
            </div>
             </div>
    </div>
</section>

<section class="container mt-5" id="mieten">
    <div class="row text-center d-flex justify-content-center mb-5">
        <h2 class="col-12">Miete dein Motorrad</h2>
        <p class="col-12">Wähle aus einer Vielzahl an Motorrädern und miete dein Lieblingsbike für die nächste Tour. Alle Motorräder kommen mit einer Versicherung für deine Sicherheit.</p>
        <a href="/bikeView" class="btn btn-primary btn-lg btn-primary-custom col-6 ">Jetzt Motorrad Mieten</a>
    </div>
</section>

