@page "/"


<PageTitle>Home</PageTitle>

    <AuthorizeView>
        <Authorized>
            <p>Logged in as @context.User.Identity.Name</p>
        </Authorized>
        <NotAuthorized>
            <BikeView></BikeView>
            </NotAuthorized>
    </AuthorizeView>
