@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
<h3>Logout</h3>
<div>
    <span>>Succesfully logouted</span>
</div>
@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            NavigationManager.NavigateTo("/logout", true);
        }
    }

}