@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager
<h3>Logout</h3>

<div style="background-color: green">
    Logged out!
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout", true);
        }
    }

}