<div class="bike-element p-3">
    <!--todo replace the hard search-tag with properties-->
    <div class="row">
        <div class="col-5">
            <img class="img-holder" src=@ImgOne alt="Das is ein bild">
        </div>
        <div class="col-7">
            <div class="row h-100">
                <div class="col-12 d-flex flex-column mb-2">
                    <h1>
                        @Manufacturer @Model
                    </h1>
                    <p class="search-tag">
                        @SearchTag
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-between mt-auto mb-2 align-content-end">
                    <i class="bi @Icon mt-auto mb-1" style="font-size: 2rem;" @onclick="ChangeIcon"></i>
                    <p class="me-5">
                         <span class="price">@CurrentLeasingRate€</span> <br>/Tag
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public int Id {get; set;}
    [Parameter] public int Ps { get; set; }
    [Parameter] public int Weight { get; set; }
    [Parameter] public int Seatheight { get; set; }
    [Parameter] public string? Model { get; set; }
    [Parameter] public string? Manufacturer { get; set; }
    [Parameter] public double CurrentLeasingRate { get; set; }
    [Parameter] public double Kilomerter { get; set; }
    [Parameter] public string? SearchTag { get; set; }
    [Parameter] public string? ImgOne { get; set; }
    [Parameter] public string? ImgTwo { get; set; }
    [Parameter] public string? ImgThree { get; set; }
    private string? Icon { get; set; } = "bi-star";


    private void ChangeIcon()
    {
        Icon = Icon == "bi-star" ? "bi-star-fill" : "bi-star";
    }
}