@using BAWLib.Classes
<section class="section-filter">
    <div class="container d-flex justify-content-center mt-5">
        <div class="filter-container navbar-expand-lg w-100 p-1">
            <button class="navbar-toggler w-100 d-flex px-3 pb-3 pt-4 justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <h3>
                    Filter
                </h3>
                <i class="bi bi-funnel me-2" style="font-size: 2rem"></i>
            </button>
            <div class="collapse navbar-collapse h-100 flex-column" id="navbarSupportedContent">

                <div class="d-flex row">
                    <div class="col-lg-6 col-12 ">
                        <h5>
                            Region
                        </h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="wien" @onclick='() => ToggelRegion("Wien")'>
                            <label class="form-check-label" for="wien">
                                Wien
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="niederoesterreich" @onclick='() => ToggelRegion("Niederösterreich")'>
                            <label class="form-check-label" for="niederoesterreich">
                                Niederösterreich
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="obereosterreich" @onclick='() => ToggelRegion("Oberösterreich")'>
                            <label class="form-check-label" for="obereosterreich">Oberösterreich</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="salzburg" @onclick='() => ToggelRegion("Salzburg")'>
                            <label class="form-check-label" for="salzburg">Salzburg</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="steiermark" @onclick='() => ToggelRegion("Steiermark")'>
                            <label class="form-check-label" for="steiermark">Steiermark</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="burgenland" @onclick='() => ToggelRegion("Burgenland")'>
                            <label class="form-check-label" for="burgenland">Burgenland</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kaernten" @onclick='() => ToggelRegion("Kaernten")'>
                            <label class="form-check-label" for="kaernten">Kärnten</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tirol" @onclick='() => ToggelRegion("Tirol")'>
                            <label class="form-check-label" for="tirol">Tirol</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="vorarlberg" @onclick='() => ToggelRegion("Vorarlberg")'>
                            <label class="form-check-label" for="vorarlberg">Vorarlberg</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 ">
                        <h5 class="mt-4">Marke</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="yamaha" @onclick='() => ToggelBrand("Yamaha")'>
                            <label class="form-check-label" for="yamaha">Yamaha</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="kawasaki" @onclick='() => ToggelBrand("Kawasaki")'>
                            <label class="form-check-label" for="kawasaki">Kawasaki</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="suzuki" @onclick='() => ToggelBrand("Suzuki")'>
                            <label class="form-check-label" for="suzuki">Suzuki</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="harley-davidson" @onclick='() => ToggelBrand("Harley-Davidson")'>
                            <label class="form-check-label" for="harley-davidson">Harley Davidson</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ducati" @onclick='() => ToggelBrand("Ducati")'>
                            <label class="form-check-label" for="ducati">Ducati</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="honda" @onclick='() => ToggelBrand("Honda")'>
                            <label class="form-check-label" for="honda">Honda</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="benelli" @onclick='() => ToggelBrand("Benelli")'>
                            <label class="form-check-label" for="benelli">Benelli</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ktm" @onclick='() => ToggelBrand("ktm")'>
                            <label class="form-check-label" for="ktm">KTM</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bmw" @onclick='() => ToggelBrand("bmw")'>
                            <label class="form-check-label" for="bmw">BMW</label>
                        </div>
                    </div>
                </div>




                <div class="container mt-5">
                    <!-- Leistung Slider -->


                    <h5 class="mt-4">Leistung (PS)</h5>
                    <div class="slider-label d-flex justify-content-end">
                        <span>6-</span>
                        <span>250</span>
                    </div>

                    <input type="range" class="form-range" id="leistung-slider" min="6" max="250" @bind="HorsePower" @onclick='() => SetHorsePower(HorsePower)'>

                    <h5 class="mt-4">Preis (EUR)</h5>
                    <div class="slider-label d-flex justify-content-end">
                        <span>0-</span>
                        <span>300</span>
                    </div>
                    <input type="range" class="form-range" id="preis-slider" min="0" max="300" @bind="Price" @onclick='()=> SetPrice(Price)'>
                </div>

                <div class=" mt-2 ">
                    <div class="row d-flex justify-content-center g-2">
                        
                        <div class="col-6 ">
                            <!--<label for="startDate" class="form-label labels">Start</label>-->
                            <input type="date" id="startDate" class="form-control" @bind="From" @onclick="() => SetFromDate(From)"/>
                        </div>
                        <div class="col-6">
                            <!--<label for="endDate" class="form-label labels">End</label>-->
                            <input type="date" id="endDate" class="form-control" @bind="To" @onclick="() => SetToDate(To)"/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-submit w-100 mt-4" @onclick="SendData">Filter
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                         viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

@code
{
    [Parameter]
    public EventCallback<Filter> OnDataSend { get; set; }
    private Filter? Filter { get; set; }
    private int HorsePower { get; set; }
    private int Price { get; set; } = 300;
    private DateOnly To { get; set; } = DateOnly.FromDateTime(DateTime.Now).AddYears(1);
    private DateOnly From { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Filter = new();
    }
    
    private async Task SendData()
    {
        Filter!.Price = Price;
        Filter.HorsePower = HorsePower;
        Filter.To = To;
        Filter.From = From;
        await OnDataSend.InvokeAsync(Filter);
        StateHasChanged();
    }

    #region Filtering

    

        private void ToggelRegion(string region)
        {
            if (Filter!.Regions.Contains(region))
            {
                Filter.Regions.Remove(region);
            }
            else
            {
                Filter.Regions.Add(region);
            }
        }
        
        private void ToggelBrand(string brand)
        {
            if (Filter!.Brands.Contains(brand))
            {
                Filter.Brands.Remove(brand);
            }
            else
            {
                Filter.Brands.Add(brand);
            }
        }

        private void SetHorsePower(int horsePower)
        {
            Filter!.HorsePower = horsePower;
        }
        
        private void SetPrice(int price)
        {
            Filter!.Price = price;
        }
        private void SetFromDate(DateOnly from)
        {
            Filter!.From = from;
        }
        
        private void SetToDate(DateOnly to)
        {
            Filter!.To = to;
        }
    #endregion

}
