@inject IJSRuntime JS
<style>
    #map {
        height: 500px; /* Höhe der Karte */
        width: 100%;  /* Volle Breite im Bootstrap-Grid */
        margin-top: 20px; /* Optionaler Abstand */
    }
</style>
<div class="container mt-4">
    <h1 class="text-center">Map Layout with Bootstrap</h1>

    <div class="row">
        <div class="col-md-4">
            <h3>Sidebar Content</h3>
            <p>Use this area for any additional content or controls for the map.</p>
        </div>
        <div class="col-md-8">
            <!-- Map Container -->
            <div id="map"></div>
            <button type="button" @onclick="() => MapButton()">
                Map
            </button>
        </div>
    </div>
    <script src="/CustomScripts/groupmap.js" async defer></script>

</div>

@code{
    protected override void OnInitialized()
    {
        Console.WriteLine("going to InitializeMap!!!!");
    }

    public void MapButton()
    {
        Console.WriteLine("sadfhjklö-lkjhterwsdgjlkö,kjgfdsa");
        JS.InvokeVoidAsync("InitializeMap");
    }

    


}